---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Frontend Mentor | Loopstudios landing page";
const brand = "loopstudios";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <BaseLayout brand={brand} pageTitle={pageTitle}>
      <main>
        <section class="container">
          <div class="two-columns">
            <picture>
              <source
                srcset="/images/desktop/image-interactive.jpg"
                media="(min-width: 500px)"
              />
              <source
                srcset="/images/mobile/image-interactive.jpg"
                media="(max-width: 399px)"
              />
              <img src="/images/mobile/image-interactive.jpg" alt="" />
            </picture>
            <div>
              <h1 class="title">The leader in interactive VR</h1>
              <p>
                Founded in 2011, Loopstudios has been producing world-class
                virtual reality projects for some of the best companies around
                the globe. Our award-winning creations have transformed
                businesses through digital experiences that bind to their brand.
              </p>
            </div>
          </div>
        </section>
        <section class="container">
          <div class="creations">
            <header>
              <h2>Our creations</h2>
              <button class="more-creation-button">See all</button>
            </header>
            <div class="even-columns">
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-deep-earth.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-deep-earth.jpg" alt="" />
                </picture>
                <p><span>Deep</span> earth</p>
              </article>
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-night-arcade.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-night-arcade.jpg" alt="" />
                </picture>
                <p><span>Night</span> arcade</p>
              </article>
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-soccer-team.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-soccer-team.jpg" alt="" />
                </picture>
                <p><span>Soccer</span> team VR</p>
              </article>
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-grid.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-grid.jpg" alt="" />
                </picture>
                <p><span>The</span> grid</p>
              </article>
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-from-above.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-from-above.jpg" alt="" />
                </picture>
                <p><span>From up</span> above VR</p>
              </article>
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-pocket-borealis.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-pocket-borealis.jpg" alt="" />
                </picture>
                <p><span>Pocket</span> borealis</p>
              </article>
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-curiosity.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-curiosity.jpg" alt="" />
                </picture>
                <p><span>The</span> curiosity</p>
              </article>
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-fisheye.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-fisheye.jpg" alt="" />
                </picture>
                <p><span>Make it</span> fisheye</p>
              </article>
            </div>
            <button class="more-creation-button" data-mobile-button
              >See all</button
            >
          </div>
        </section>
      </main>
    </BaseLayout>
  </body>
</html>

<style>
  main {
    display: flex;
    flex-flow: column;
    gap: var(--size-900);
    padding-block: var(--size-900);
  }
  .two-columns {
    display: flex;
    flex-flow: column;
    gap: var(--size-600);
    text-align: center;
  }

  @media (min-width: 730px) {
    .two-columns {
      align-items: center;
    }
  }

  @media (min-width: 900px) {
    .two-columns {
      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-auto-rows: 1fr;
      justify-items: stretch;
      gap: 0;
      height: 500px;
      justify-items: end;
      align-items: end;
    }

    .two-columns > :first-child {
      grid-column: 1 / 5;
      grid-row: 1 / 10;
    }

    .two-columns > :last-child {
      grid-column: 4 / 6;
      grid-row: 4 / 10;
      background-color: var(--clr-neutral-100);
      padding: var(--size-200);
      text-align: left;
    }

    .two-columns > :last-child h1 {
      font-size: 28px;
    }

    .two-columns > :last-child p {
      font-size: 15px;
    }
  }

  @media (min-width: 950px) {
    .two-columns > :last-child {
      padding: var(--size-400);
    }
  }

  .title {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-100);
    font-size: 42px;
    text-transform: uppercase;
    color: var(--clr-neutral-400);
  }

  picture + div {
    display: flex;
    flex-flow: column;
    gap: var(--size-200);
  }

  picture + div > p {
    line-height: 1.75em;
    font-size: 20px;
  }

  .creations {
    display: flex;
    flex-flow: column;
    gap: var(--size-700);
  }

  .creations h2 {
    font-family: var(--ff-secondary);
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: var(--clr-neutral-400);
  }

  .creations > .container {
    display: flex;
    flex-flow: column;
    gap: var(--size-400);
  }

  .creations article {
    display: grid;
    grid-template-columns: 1fr;
    cursor: pointer;
  }

  .creations article > picture {
    grid-column: 1;
    grid-row: 1 / 7;
  }

  .creations article > picture img {
    height: 240px;
  }

  @media (min-width: 700px) {
    .creations article > picture img {
      height: unset;
      width: 256px;
    }
  }

  .creations article > p {
    grid-column: 1;
    grid-row: 5;
    padding-inline: var(--size-200);
  }

  .creations p {
    color: var(--clr-neutral-100);
    font-size: 32px;
    text-transform: uppercase;
    font-weight: var(--fw-100);
    font-family: var(--ff-secondary);
  }

  .creations p > span {
    display: block;
  }

  button:not([data-mobile-button]) {
    display: none;
  }

  button {
    border: 2px solid var(--clr-neutral-400);
    border-radius: unset;
    align-self: center;
    padding: 0.75rem var(--size-400);
    text-transform: uppercase;
    background-color: var(--clr-neutral-100);
    font-weight: var(--fw-200);
    font-family: var(--ff-primary);
    letter-spacing: 0.25em;
  }

  button:hover {
    background-color: var(--clr-neutral-400);
    color: var(--clr-neutral-100);
    border-color: var(--clr-neutral-100);
    transition: background-color 0.35s ease-out, color 0.25s ease-in;
  }

  @media (min-width: 750px) {
    button[data-mobile-button] {
      display: none;
    }
    button:not([data-mobile-button]) {
      display: inline;
    }

    .creations > header:first-of-type {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }

  /* Transition and Animation */
  article > picture {
    transition: opacity 0.45s ease;
  }
  article:hover > picture {
    opacity: 0.5;
  }

  article > p {
    transition: color 0.6s ease-in-out;
  }

  article:hover > p {
    color: var(--clr-neutral-400);
  }
</style>
