---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Frontend Mentor | Loopstudios landing page";
const brand = "loopstudios";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- displays site properly based on user's device -->
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="./images/favicon-32x32.png"
    />
    <title>{pageTitle}</title>
  </head>
  <body>
    <BaseLayout brand={brand} pageTitle={pageTitle}>
      <main>
        <section>
          <div class="container">
            <picture>
              <source
                srcset="/images/desktop/image-interactive.jpg"
                media="(min-width: 500px)"
              />
              <source
                srcset="/images/mobile/image-interactive.jpg"
                media="(max-width: 399px)"
              />
              <img src="/images/mobile/image-interactive.jpg" alt="" />
            </picture>
            <div>
              <h1 class="title">The leader in interactive VR</h1>
              <p>
                Founded in 2011, Loopstudios has been producing world-class
                virtual reality projects for some of the best companies around
                the globe. Our award-winning creations have transformed
                businesses through digital experiences that bind to their brand.
              </p>
            </div>
          </div>
        </section>
        <section>
          <div class="container">
            <h2>Our creations</h2>
            <button class="more-creation-button">See all</button>
            <div class="even-columns">
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-deep-earth.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-deep-earth.jpg" alt="" />
                </picture>
                <p><span>Deep</span> earth</p>
              </article>
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-night-arcade.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-night-arcade.jpg" alt="" />
                </picture>
                <p><span>Night</span> arcade</p>
              </article>
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-soccer-team.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-soccer-team.jpg" alt="" />
                </picture>
                <p><span>Soccer</span> team VR</p>
              </article>
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-grid.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-grid.jpg" alt="" />
                </picture>
                <p><span>The</span> grid</p>
              </article>
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-from-above.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-from-above.jpg" alt="" />
                </picture>
                <p><span>From up</span> above VR</p>
              </article>
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-pocket-borealis.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-pocket-borealis.jpg" alt="" />
                </picture>
                <p><span>Pocket</span> borealis</p>
              </article>
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-curiosity.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-curiosity.jpg" alt="" />
                </picture>
                <p><span>The</span> curiosity</p>
              </article>
              <article>
                <picture>
                  <source
                    srcset="/images/desktop/image-fisheye.jpg"
                    media="(min-width: 700px)"
                  />
                  <img src="/images/mobile/image-fisheye.jpg" alt="" />
                </picture>
                <p><span>Make it</span> fisheye</p>
              </article>
            </div>
          </div>
        </section>
      </main>
    </BaseLayout>
  </body>
</html>

<style>
  main {
    display: flex;
    flex-flow: column;
    gap: var(--size-900);
    padding-block: var(--size-900);
  }
  main > section:first-child > .container {
    display: flex;
    flex-flow: column;
    gap: var(--size-600);
    text-align: center;
  }

  main > section:first-child .title {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-100);
    font-size: 48px;
    text-transform: uppercase;
    color: var(--clr-neutral-400);
  }

  picture + div {
    display: flex;
    flex-flow: column;
    gap: var(--size-200);
  }

  picture + div > p {
    line-height: 1.75em;
    font-size: 20px;
  }

  main > section:last-child h2 {
    font-family: var(--ff-secondary);
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: var(--clr-neutral-400);
  }

  main > section:last-child > .container {
    display: flex;
    flex-flow: column;
    gap: var(--size-400);
  }

  main > section:last-child article {
    display: grid;
    grid-template-columns: 1fr;
  }

  main > section:last-child article > picture {
    grid-column: 1;
    grid-row: 1 / 7;
  }

  main > section:last-child article > picture img {
    height: 240px;
  }

  @media (min-width: 700px) {
    main > section:last-child article > picture img {
      height: unset;
      width: 256px;
    }
  }

  main > section:last-child article > p {
    grid-column: 1;
    grid-row: 5;
    padding-inline: var(--size-200);
  }

  main > section:last-child p {
    color: var(--clr-neutral-100);
    font-size: 32px;
    text-transform: uppercase;
    font-weight: var(--fw-100);
    font-family: var(--ff-secondary);
  }

  main > section:last-child p > span {
    display: block;
  }

  button {
    display: none;
  }
</style>
