<div class="attribution">
  Challenge by
  <a
    href="https://www.frontendmentor.io?ref=challenge"
    target="_blank">Frontend Mentor</a
  >. Coded by
  <a href="#">Your Name Here</a>.
</div>

<style>
  .attribution {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11px;
    text-align: center;
    color: var(--clr-neutral-100);
    background-color: var(--clr-neutral-400);
    word-spacing: 0.5em;
    border-top: 1px solid var(--clr-neutral-300);
  }
  .attribution a {
    display: inline-block;
    padding-inline-start: 0.5em;
    color: var(--clr-neutral-200);
  }
</style>
