---
import Navigation from "./Navigation.astro";
import Attribution from "./Attribution.astro";
---

<footer class="primary-footer">
  <div class="container">
    <Navigation hamburger={false} styleClass="secondary-nav" />
    <div class="copyright">
      <div class="social">
        <img src="/images/icon-facebook.svg" alt="facebook">
        <img src="/images/icon-twitter.svg" alt="twitter">
        <img src="/images/icon-pinterest.svg" alt="pinterest">
        <img src="/images/icon-instagram.svg" alt="instagram">
      </div>
      <p>© 2021 Loopstudios. All rights reserved.</p>
    </div>
  </div>
  <Attribution />
</footer>

<style>
  .social {
    display: flex;
    gap: 1em;
  }

  .copyright {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;
  }
</style>
