---
import Navigation from "./Navigation.astro";
import Attribution from "./Attribution.astro";
import Social from "./Social.astro";
---

<footer class="primary-footer">
  <div class="container">
    <Navigation hamburger={false} styleClass="secondary-nav" />
    <div class="copyright">
      <Social />
      <p>© 2021 Loopstudios. All rights reserved.</p>
    </div>
  </div>
  <Attribution />
</footer>

<style>
  .copyright {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1em;
  }
</style>
