---
import Navigation from "./Navigation.astro";
import Attribution from "./Attribution.astro";
---

<footer class="primary-footer">
  <img src="/image/logo.svg" alt="">
  <Navigation hamburger={false} styleClass="secondary-nav" />
  <p>© 2021 Loopstudios. All rights reserved.</p>
  <Attribution />
</footer>
