---
import Navigation from "./Navigation.astro";
import Hero from "./Hero.astro";
const { brand } = Astro.props;
---

<header class="primary-header">
  <div class="container">
      <div>
        <Navigation hamburger={true} />
        <Hero />
      </div>
  </div>
</header>

<style>
  header {
    background-image: url(/images/mobile/image-hero.jpg);
    height: 100vh;
    height: 100dvh;
    padding-block: var(--size-500)
  }

  .container {
    min-height: 100%;
    display: flex;
  }
  
  .container > div {
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
</style>
