<section class="hero">
  <p>Immersive experiences that deliver</p>
</section>

<style>
  section {
    font-size: 48px;
    text-transform: uppercase;
    color: var(--clr-neutral-100);
    border: 2px solid var(--clr-neutral-100);
    height: max-content;
    margin: auto 0;
    padding: var(--size-100);
  }
</style>
