<section class="hero">
  <p>Immersive experiences that deliver</p>
</section>

<style>
  section {
    text-transform: uppercase;
    color: var(--clr-neutral-100);
    border: 2px solid var(--clr-neutral-100);
    height: max-content;
    margin: auto 0;
    max-width: 600px;
    padding: var(--size-200) var(--size-300);
  }
  
  section p {
    font-size: 48px;
    font-weight: var(--fw-100);
    font-family: var(--ff-secondary);
  }

  @media (min-width: 750px) {

  }
</style>
