---
const { hamburger = false, styleClass = "primary-nav" } = Astro.props;
---

<nav class={styleClass}>
  <div data-nav>
    <menu data-toggle-menu>
      {
        hamburger && (
          <button data-menu-toggle-button>
            <span class="visually-hidden">Toggle menu</span>
          </button>
        )
      }
      <ul>
        <li><a href="/">About</a></li>
        <li><a href="/">Careers</a></li>
        <li><a href="/">Events</a></li>
        <li><a href="/">Products</a></li>
        <li><a href="/">Support</a></li>
      </ul>
      <a href="/" class="logo"><img src="/images/logo.svg" alt="" /></a>
    </menu>
  </div>
</nav>

<script>
  const nav = document.querySelector("[data-nav]");
  const toggleButton = document.querySelector("[data-menu-toggle-button]");
  toggleButton.addEventListener("click", () => {
    toggleButton.toggleAttribute("data-open");
    nav.toggleAttribute("data-mobile-menu");
  });
</script>
