---
const { brand } = Astro.props;
---
<nav>
  <menu>
    <a href="/">{brand}</a>
    <li><a href="/">About</a></li>
    <li><a href="/">Careers</a></li>
    <li><a href="/">Events</a></li>
    <li><a href="/">Products</a></li>
    <li><a href="/">Support</a></li>
  </menu>
</nav>
