<div class="social">
  <a href="#"><img src="/images/icon-facebook.svg" alt="facebook" /></a>
  <a href="#"><img src="/images/icon-twitter.svg" alt="twitter" /></a>
  <a href="#"><img src="/images/icon-pinterest.svg" alt="pinterest" /></a>
  <a href="#"><img src="/images/icon-instagram.svg" alt="instagram" /></a>
</div>

<style>
  .social {
    display: flex;
    gap: 1em;
  }
</style>
